body{
   
    background: url("../images/concrete_seamless.png");
    background-size: auto, cover;
}

#nav{
  background-color: white; 
  margin-bottom: 35px; 
  font-family: Arial, Helvetica, sans-serif;
}
#Hamza{
    background-color: #4aaaa5;
    color: white;
    padding: 13px; 

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  #4aaaa5;
    
}
.jumbotron{
    background-color: white;
    color: #777777; 
    border: #dddddd solid 2px; 
}

.row{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
  
}

.col-lg-3{
    margin-right: 25px; 
}
.col-lg-7{
    margin-bottom: 0px; 
}

.nav-item{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
/*.col-lg-10{
    margin-left: 10%; 
}*/
.footer-margin{
    background-color:#777777;
    color:white;
    border-top: #4aaaa5 solid 4px; 
    text-align: center;
  }

.label{
position: relative;
bottom: 40px; 
background-color: #4aaaa5;
color: white;
font-family: Arial, Helvetica, sans-serif;
width: 250px;
text-align: center;
font-size: 17px; 
height: 30px; 
}