body{
   
    background: url("../images/concrete_seamless.png");
    background-size: auto, cover;
   
}
#white{
    position:fixed;
    top:0px; 
    background-color: white;
    z-index: 3; 
    width: 100%; 
    border-bottom: 4px solid #cccccc;
    height: 108px; 
}
.header{
    position:relative;
    top:0px; 
    background-color: white;
    margin-top: 0px; 
   
    height: 100px; 
    width: 960px; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    z-index: 30; 
}
#contact{
    color: #777777;
    margin-top: 45px; 
    float: right; 
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 0px; 
    margin-left:4px;
}
#portfolio{
    color: #777777;
    margin-top: 45px; 
    float: right; 
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    color: #777777;
    margin-top: 45px; 
    float: right; 
    font-family: Arial, Helvetica, sans-serif;
    margin-right:4px;
}
#contact:hover{
cursor: pointer;
text-decoration: underline;
color: lightblue;
}
#about:hover{
    cursor: pointer;
    text-decoration: underline;
    color: lightblue;
    }
#portfolio:hover{
        cursor: pointer;
        text-decoration: underline;
        color: lightblue;
        }
a:link{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
#h2{
    color: white;
    background-color: #4aaaa5;
    float: left; 
    padding: 12px;
    padding-left: 30px; 
    font-size: 18px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    width: 960px; 
    margin: 0 auto;
    
}
.portfolio{
    background-color: white;
    margin-top: 20\\40px; 
    padding-left: 25px; 
    padding-right: 25 px; 
    padding-bottom: 180px; 
    border: 2px #cccccc; 
    
}


h1{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px ;
    padding-bottom: 20px; 
    padding-top: 20px; 
    width: 910px; 
    border-bottom: 4px solid #cccccc;

}
#sports{
    height: 150px; 
    width: 200px; 
    float: left; 
    z-index: 1;
    margin: 18px; 
}
#text1{
    color: white;
    background-color: #4aaaa5;
    height: 30px; 
    position: absolute;
    left: 275px; 
    bottom: 500px; 
    width: 200px; 
    z-index: 70;
    text-align: center;
    margin-top: 50px; 
    padding-top: 10px;  
}
#VideoGames{
    height: 150px; 
    width: 200px; 
    float: left; 
    margin-left: 50px; 
    z-index: 1;
    margin: 18px; 
}
#text2{
    color: white;
    background-color: #4aaaa5;
    height: 30px; 
    position: absolute;
    align: left;
    left: 369px; 
    bottom: 500px; 
    width: 200px; 
    z-index: 50;
    text-align: center;
    margin-top: 60px; 
    padding-top: 10px;  
    margin-left: 150px; 
}

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

#Books{
    height: 150px; 
    width: 200px; 
    float: left;
    margin: 18px; 
    z-index: 1;
    
   
}
#text3{
    color: white;
    background-color: #4aaaa5;
    height: 30px; 
    position: absolute;
    align: left; 
    left: 279px; 
    bottom: 270px; 
    width: 200px; 
    z-index: 50;
    text-align: center;
    margin-top: 50px; 
    padding-top: 10px;  
}
#Music{
    height: 150px; 
    width: 200px; 
   float: left;
    margin-left: 50px;
    z-index: 1;
    margin: 18px; 
}
#text4{
    color: white;
    background-color: #4aaaa5;
    height: 30px; 
    position: absolute;
    align: left;
    left: 265px; 
    bottom: 270px; 
    width: 200px; 
    z-index: 50;
    text-align: center;
    margin-top: 50px; 
    padding-top: 10px;  
    margin-left: 250px; 
}
#Traveling {
    height: 150px; 
    width: 200px; 
    float: left;
    margin: 18px; 
    z-index: 1;
}
#text5{
    color: white;
    background-color: #4aaaa5;
    height: 30px; 
    position: absolute;
    left: 279px; 
    bottom: 84px; 
    width: 200px; 
    z-index: 50;
    text-align: center;
    margin-top: 50px; 
    padding-top: 10px;  
}
#footer {
    bottom: 0px; 
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    line-height: 40px; 
    color: white;
}
