body {
    background: url("mountain.jpg");
    background-size: auto, cover;
    font-family: 'Gothic A1', sans-serif;
}

#weather {
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-top: 75px;
}

#date {
    color: white;
}

#search {
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
    color: white;
}

#current {
    /* border: 1px solid lightgray; */
    margin-top: 25px;
    color: white;
}

#forecast1 {
    font-size: 17px;
    color: white;
    margin-top: 25px;
}

#searchDiv {
    margin-top: 25px;
}

.days {
    display: inline-block;
    width: 100px;
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
    border: white 1px solid;
    padding-left: 5px;
}

#searchButton {
    color: white;
}

@media (max-width: 992px) {
    #inputValue {
        width: 40%;
        margin-right: 5px;
    }
    #current {
        color: black;
    }
    #forecast {
        color: black;
    }
    #forecast1 {
        color: black;
    }
    .days {
        color: black;
        border: black 1px solid;
    }
    #weather {
        margin-top: 50px;
    }
    #weather {
        color: black;
    }
    #date {
        color: black;
    }
}